absl-py==2.1.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
astunparse==1.6.3
attrs==25.1.0
autocorrect==2.6.1
betterproto==2.0.0b6
bleach==6.2.0
blinker==1.9.0
blis==1.0.1
CacheControl==0.14.0
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.20.0
cloudpickle==3.1.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.1
cryptography==44.0.1
cycler==0.12.1
cymem==2.0.10
dask==2024.12.0
dask-expr==1.1.20
Django==5.0.4
djangorestframework==3.15.1
dnspython==2.7.0
editdistpy==0.1.5
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile==2.0.0
fastapi==0.115.11
filelock==3.16.1
filetype==1.2.0
firebase-admin==6.5.0
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.55.1
fsspec==2024.10.0
gast==0.6.0
gcloud==0.18.3
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.19.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
greenlet==3.1.1
grpcio==1.63.0
grpcio-status==1.62.2
grpclib==0.4.7
h11==0.14.0
h2==4.2.0
h5py==3.12.1
hpack==4.1.0
httplib2==0.22.0
huggingface-hub==0.26.3
hyperframe==6.1.0
id==1.5.0
idna==3.7
in-toto-attestation==0.9.3
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jwcrypto==1.5.6
kaggle==1.6.17
kagglehub==0.3.7
keras==3.7.0
kiwisolver==1.4.7
labelImg==1.8.6
langcodes==3.5.0
language_data==1.3.0
libclang==18.1.1
locket==1.0.0
lxml==5.3.1
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
mdurl==0.1.2
ml-dtypes==0.4.1
model-signing==0.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.1.0
murmurhash==1.0.11
namex==0.0.8
narwhals==1.29.1
networkx==3.4.2
nltk==3.9.1
numpy==2.0.2
oauth2client==4.1.3
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.1
packaging==24.2
pandas==2.2.3
partd==1.4.2
pillow==10.3.0
platformdirs==4.3.6
preshed==3.0.9
proto-plus==1.23.0
protobuf==4.25.3
psutil==6.1.0
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
pyarrow==18.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.10.3
pydantic_core==2.27.1
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.8.0
pyOpenSSL==25.0.0
pyparsing==3.1.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
Pyrebase4==4.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jwt==4.1.0
python-slugify==8.0.4
pytz==2024.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.31.0
requests-toolbelt==0.10.1
rfc3161-client==0.1.2
rfc8785==0.1.4
rich==13.9.4
roboflow==1.1.54
rpds-py==0.23.1
rsa==4.9
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
securesystemslib==1.2.0
setuptools==75.6.0
shellingham==1.5.4
sigstore==3.6.1
sigstore-protobuf-specs==0.3.2
sigstore-rekor-types==0.0.18
six==1.16.0
smart-open==7.0.5
smmap==5.0.2
sniffio==1.3.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.39
sqlparse==0.5.0
srsly==2.4.8
starlette==0.46.1
streamlit==1.43.1
swifter==1.4.0
sympy==1.13.1
symspellpy==6.7.8
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
text-unidecode==1.3
textblob==0.18.0.post0
tf_keras==2.18.0
thinc==8.3.2
threadpoolctl==3.5.0
tokenizers==0.20.3
toml==0.10.2
toolz==1.0.0
torch==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
transformers==4.46.3
tuf==5.1.0
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.3.94
ultralytics-thop==2.0.14
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.34.0
wasabi==1.1.3
watchdog==6.0.0
weasel==0.4.1
webencodings==0.5.1
webservices==0.7
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.0
